name: Deploy to react app to gh pages

on:
  push:
    branches:
      - main


permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: config/note/frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Mode
        uses: actions/setup-node@v4
        with:
          node-version: 13
          cache: npm
          cache-dependency-path: config/note/frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          path: config/note/frontend/build

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to gh pages
        id: deployment
        uses: actions/deploy-pages@v4



